<div class="container mt-2">
    <div class="mb-2">
        <fieldset class="form-group">
            <legend>ค้นหารายการ</legend>
            <div
                class="form-inline"
                [formGroup]="formSearch"
            >
                <label
                    class="mr-sm-2"
                    for="code"
                >
                    รหัสร้าน
                </label>
                <input
                    type="text"
                    class="form-control mb-2 mr-sm-2 mb-sm-0"
                    id="code"
                    formControlName="code"
                >

                <label
                    class="mr-sm-2"
                    for="name"
                >
                    ชื่อร้าน
                </label>
                <input
                    type="text"
                    class="form-control mb-2 mr-sm-2 mb-sm-0"
                    id="name"
                    formControlName="name"
                >
                <div>
                    <button
                        type="button"
                        class="btn btn-success"
                        (click)="search()"
                        [disabled]="formSearch.pristine"
                    >
                        ค้นหา
                    </button>
                    <button
                        type="button"
                        class="btn btn-secoundary"
                        (click)="resetSearch()"
                        [disabled]="formSearch.pristine"
                    >
                        เคลียร์
                    </button>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="mb-2 text-right">
        <button
            class="btn btn-primary"
            (click)="addResInfo()"
        >
            เพิ่มข้อมูล
        </button>
    </div>

    <ngx-datatable
        class="material"
        [trackByProp]="'id'"
        [rows]="rows"
        [columns]="cols"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
    >
    </ngx-datatable>
    <ng-template
        #noTpl
        let-row="row"
    >
        {{ row.$$index + 1 }}
    </ng-template>
    <ng-template
        #selectTpl
        let-row="row"
    >
        <button
            class="btn btn-warning btn-sm"
            (click)="editResInfo(row)"
        >
            แสดง/แก้ไข
        </button>
        <button
            class="btn btn-danger btn-sm"
            (click)="removeResInfo(row)"
        >
            ลบ
        </button>
    </ng-template>
</div>
