<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="modal-header">
        <h4 class="modal-title">ข้อมูลร้านอาหาร</h4>
        <button
            type="button"
            class="close"
            (click)="activeModal.dismiss()"
        >
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="code">รหัสร้าน *</label>
                    <input
                        type="text"
                        class="form-control"
                        id="code"
                        formControlName="code"
                        numberOnly
                        [readOnly]="this.resInfo.id"
                    >
                    <control-messages [control]="form.get('code')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="name">ชื่อร้าน *</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        formControlName="name"
                    >
                    <control-messages [control]="form.get('name')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="address">ที่อยู่</label>
                    <textarea
                        class="form-control"
                        id="address"
                        rows="3"
                        formControlName="address"
                    ></textarea>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="tel">เบอร์โทร</label>
                    <input
                        type="text"
                        class="form-control"
                        id="tel"
                        formControlName="tel"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="mobile">มือถือ</label>
                    <input
                        type="text"
                        class="form-control"
                        id="mobile"
                        formControlName="mobile"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="email">อีเมลล์</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        formControlName="email"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="fax">แฟกซ์</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fax"
                        formControlName="fax"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="website">เว็บไซต์</label>
                    <input
                        type="text"
                        class="form-control"
                        id="website"
                        formControlName="website"
                    >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="taxIdNo">เลขที่ประจำตัวผู้เสียภาษี</label>
                    <input
                        type="text"
                        class="form-control"
                        id="taxIdNo"
                        formControlName="taxIdNo"
                    >
                    <control-messages [control]="form.get('taxIdNo')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="vatRate">อัตราภาษีมูลค่าเพิ่ม *</label>
                    <input
                        type="text"
                        class="form-control"
                        id="vatRate"
                        formControlName="vatRate"
                        decimalOnly
                    >
                    <control-messages [control]="form.get('vatRate')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="serviceChargeRate">อัตราค่าบริการ *</label>
                    <input
                        type="text"
                        class="form-control"
                        id="serviceChargeRate"
                        formControlName="serviceChargeRate"
                        decimalOnly
                    >
                    <control-messages [control]="form.get('serviceChargeRate')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="header">หัวบิล</label>
                    <textarea
                        class="form-control"
                        id="header"
                        rows="3"
                        formControlName="header"
                    ></textarea>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="footer">ท้ายบิล</label>
                    <textarea
                        class="form-control"
                        id="footer"
                        rows="3"
                        formControlName="footer"
                    ></textarea>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="latitude">ละติจูด</label>
                    <input
                        type="text"
                        class="form-control"
                        id="latitude"
                        formControlName="latitude"
                        decimalOnly
                        [factor]="6"
                        [canMinus]="true"
                    >
                    <control-messages [control]="form.get('latitude')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="longitude">ลองจิจูด</label>
                    <input
                        type="text"
                        class="form-control"
                        id="longitude"
                        formControlName="longitude"
                        decimalOnly
                        [factor]="6"
                        [canMinus]="true"
                    >
                    <control-messages [control]="form.get('longitude')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="startPackageDate">วันที่เริ่มแพ็คเกจ *</label>
                    <input
                        type="date"
                        class="form-control"
                        id="startPackageDate"
                        formControlName="startPackageDate"
                    >
                    <control-messages [control]="form.get('startPackageDate')"></control-messages>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" formGroupName="taxPaymentType">
                    <label for="taxPaymentType">ประเภทการจ่ายภาษี</label>
                    <select
                        class="form-control"
                        id="taxPaymentType"
                        formControlName="id"
                    >
                        <option
                            *ngFor="let item of taxPaymentTypes;"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" formGroupName="serviceChargeType">
                    <label for="serviceChargeType">ประเภทค่าบริการ</label>
                    <select
                        class="form-control"
                        id="serviceChargeType"
                        formControlName="id"
                    >
                        <option
                            *ngFor="let item of serviceChargeTypes"
                            [value]="item.id"
                        >
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" formGroupName="printReceiptType">
                    <label for="printReceiptType">ประเภทของหน้ากระดาษ</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="printReceiptType"
                            formControlName="name"
                            readonly
                        >
                        <span class="input-group-btn">
                            <button
                                class="btn btn-secondary"
                                type="button"
                                (click)="addPrintReceiptType()"
                            >
                                ค้นหา
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" formGroupName="currencyType">
                    <label for="currencyType">สกุลเงิน</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="currencyType"
                            formControlName="name"
                            readonly
                        >
                        <span class="input-group-btn">
                            <button
                                class="btn btn-secondary"
                                type="button"
                                (click)="addCurrencyType()"
                            >
                                ค้นหา
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group" formGroupName="packageType">
                    <label for="packageType">ประเภทแพ็คเกจ</label>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            id="packageType"
                            formControlName="name"
                            readonly
                        >
                        <span class="input-group-btn">
                            <button
                                class="btn btn-secondary"
                                type="button"
                                (click)="addPackageType()"
                            >
                                ค้นหา
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || form.pristine"
        >
            บันทึก
        </button>
        <button
            type="button"
            class="btn btn-secondary"
            (click)="activeModal.close()"
        >
            ยกเลิก
        </button>
    </div>
</form>
