<div class="modal-header">
    <h4 class="modal-title">ประเภทแพ็คเกจ</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss()"
    >
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <ngx-datatable
        class="material"
        [rows]="rows"
        [columns]="cols"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
    >
    </ngx-datatable>
    <ng-template
        #selectTpl
        let-row="row"
    >
        <button
            class="btn btn-primary btn-sm"
            (click)="activeModal.close(row)"
        >
            เลือก
        </button>
    </ng-template>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.close()"
    >
        Close
    </button>
</div>
